<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/course.css}" />
	<title>修正完了</title>
</head>
<body>
	<h1>修正完了</h1>
	<h3 class="blues">講座情報の修正を完了しました。</h3>
	<br>
	<form th:action="@{/course/upd/end}" th:object="${duForm}" method="post">
		<div class="btn">
    		<button type="submit" name="menuBtn">講座管理メニュー</button><br>
	        <button type="submit" name="searchBtn">講座検索</button><br>
	        <button type="submit" name="listBtn">講座一覧</button><br>
	        <button type="submit" name="logoutBtn">ログアウト</button>
    	</div>
	</form>
</body>